footer {
  margin-top: 100px;
  border-top:1px solid #f0f0f0;
}
footer div.inner {
}
footer div.inner div.f-top {
  padding: 20px 0;
  border-bottom: 1px solid #f0f0f0;
}
footer div.inner div.f-top ul {
}
footer div.inner div.f-top ul li {
  height: 100%;
}
footer div.inner div.f-top>ul>li:not(:last-child) a {
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid #f0f0f0;
}
footer div.inner div.f-top div.selectBox{
  position: relative;
  padding: 0px 10px;
  width: 20%;
  height: 40px;
  border:1px solid #f0f0f0;
  background-color: white;
  cursor: pointer;
  line-height: 2.5;
}
footer div.inner div.f-top div.selectBox::before{
  content:"";
  display: block;
  position: absolute;
  width:20px;
  height:3px;
  right:15px;
  top:19px;
  background: #585858;
}
footer div.inner div.f-top div.selectBox::after{
  content:"";
  display: block;
  position: absolute;
  width:20px;
  height:3px;
  right:15px;
  top:19px;
  background: #585858;
  transform: rotate(90deg);
}
footer div.inner div.f-top div.selectBox:focus::after{
  transform: rotate(0deg);
  transition-duration: 0.3s
}
footer div.inner div.f-top div.selectBox span {
}
footer div.inner div.f-top div.selectBox span a {
  line-height: 2.5
}
footer div.inner div.f-top div.selectBox:hover {
  border-color: #424242;
}
footer div.inner div.f-top div.selectBox ul {
  position: absolute;
  height: 208px;
  top: -210px;
  left: -1px;
  width: 100%;
  border:1px solid black;
  background-color: #fff;
  cursor: pointer;
  background: white;
}
footer div.inner div.f-top div.selectBox ul li {
   padding: 10px;
  border-right: 0px;
  height:5px;
}
footer div.inner div.f-bottom {
  margin: 20px 0;
  font-size: 14px;
}
footer div.inner div.f-bottom ul {
  line-height: 1;
}
footer div.inner div.f-bottom ul li {
  margin-bottom:10px;
}
footer div.inner div.f-bottom ul li:not(:last-child) {
  padding-right: 20px;
  margin-right:20px;
  border-right: 1px solid #f0f0f0;
}
footer div.inner div.f-bottom ul li adress {
}
footer div.inner div.f-bottom ul li a {
  text-decoration:underline;
}
footer div.inner div.f-bottom p {
  white-space: nowrap;
  color:#999;
}
